{% extends 'base.html' %}

{% block tittle %} Home {% endblock %}

{% block content %}

<div class="banner" style="background-image: url('https://images.pexels.com/photos/16785483/pexels-photo-16785483.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
    <div class="container">
      <h1>Welcome to my Django Project!</h1>
      <p>This website was created for my CODERHOUSE assignmnet ACT-N3</p>
      <br>
      <p>by Tadeo Miranda</p>
      <a href="#" class="btn btn-primary btn-lg">Get Started</a>
    </div>
</div>

{% endblock %}