/* Navbar */
.navbar {
    background-color: #444054;
    padding: 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  
  .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-brand:hover {
    color: #444054;
  }
  
  .nav-link {
    font-size: 1.1rem;
    font-weight: bold;
    color: #000000;
    transition: all 0.3s ease-in-out;
    margin-right: 1rem;
  }
  
  .nav-link:hover {
    color: #444054;
  }
  
  /* Banner */
  .banner {
    background: url('https://picsum.photos/1500/600') no-repeat center center;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
  }
  
  .banner h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .banner p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  /* Footer */
  .footer {
    background-color: #f8f9fa;
    padding: 60px 0;
  }
  
  .footer h5 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #000000;
  }
  
  .footer p {
    font-size: 1.1rem;
    color: #6c757d;
  }
  
  .footer ul li {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #6c757d;
    list-style: none;
  }
  
  .footer i {
    margin-right: 0.5rem;
    color: #ffa500;
  }
  
  .footer hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-color: #dee2e6;
  }
  
  .social-buttons li {
    margin-right: 1rem;
  }
  
  .social-buttons a {
    color: #ffffff;
    background-color: #007bff;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  
  .social-buttons a:hover {
    background-color: #ffa500;
  }
  
  .social-buttons i {
    font-size: 1.2rem;
  }
  
  body {
    background-color: #080b0e;
    background-image: url('https://static-cdn.jtvnw.net/jtv_user_pictures/3e1680b8-ce78-46d3-a228-2d5325c3519f-profile_banner-480.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  